body {
  background-color:bisque;
  text-align: center;
  
}

input {
  font-size: 20px;
  border-radius: 15px;

}
button{
  font-size:20px;
  border-radius: 15px;
  
}
label{
  font-size: 20px;
  font-weight: bold;
}	
li{
  font-size:20px;

}